<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>

    <services>

      <service behaviorConfiguration="myServiceBehavior" name="WCFServiceConcurrencyAndInstancing.StockService">
        <!--<endpoint address="http://localhost:8000/WCFServiceConcurrencyAndInstancing/basic" 
                  binding="basicHttpBinding" 
                  contract="WCFServiceConcurrencyAndInstancing.IStockService" />-->

        <endpoint address="http://localhost:8000/WCFServiceConcurrencyAndInstancing/ws"
                 binding="ws2007HttpBinding"
                 contract="WCFServiceConcurrencyAndInstancing.IStockService" />

        <endpoint address="http://localhost:8000/WCFServiceConcurrencyAndInstancing/wshttp"
                binding="wsHttpBinding"
                bindingConfiguration="wsBinding"
                contract="WCFServiceConcurrencyAndInstancing.IStockService" />

        <endpoint address="http://localhost:8000/WCFServiceConcurrencyAndInstancing/wsMtom"
                 binding="wsHttpBinding"
                 bindingConfiguration="MTOM"
                 contract="WCFServiceConcurrencyAndInstancing.IStockService" />

        <!--<endpoint address="http://localhost:8000/WCFServiceConcurrencyAndInstancing/custom"
                        binding="customBinding"
                        bindingConfiguration="custom"
                        contract="WCFServiceConcurrencyAndInstancing.IStockService" />-->


        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/WCFServiceConcurrencyAndInstancing" />
          </baseAddresses>
        </host>
      </service>

    </services>

    <bindings>
      <wsHttpBinding>

        <binding name="MTOM" messageEncoding="Mtom" />

        <binding name="wsBinding" >
          <reliableSession inactivityTimeout="1" enabled="true"/>
        </binding>
      </wsHttpBinding>

      <customBinding>
        <binding name="custom">
          <textMessageEncoding/>
          <reliableSession/>
          <httpTransport keepAliveEnabled="true"/>
        </binding>
      </customBinding>

      <basicHttpBinding>
        <binding name="basic" transferMode="Streamed" >
        </binding>
      </basicHttpBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <!--<dataContrctSerializer ignoreExtensionDataObject="true"/>-->
          <!--<serviceThrottling maxConcurrentInstances="2" 
                             maxConcurrentCalls="2"
                             maxConcurrentSessions="2"/>-->
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/WCFServiceConcurrencyAndInstancing1"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  <diagnostics>
    <messageLogging logEntireMessage="true" 
                    logMessagesAtTransportLevel="true"
                    maxMessagesToLog="4000" />
  </diagnostics>

  </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      
      <source name="System.ServiceModel" propagateActivity="true" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener"
             name="tracelog" traceOutputOptions="Timestamp">
          <filter type=""/>
        </add>
        </listeners>
      </source>
    
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" 
               type="System.Diagnostics.XmlWriterTraceListener" 
               initializeData="messages.svclog"/>
        </listeners>
      </source>
  
    </sources>
  </system.diagnostics>

  <!--<system.net>
    <connectionManagement>
      <add address="http://localhost:8000/WCFServiceConcurrencyAndInstancing/wshttp" maxconnection="1"/>
    </connectionManagement>
  </system.net>-->

</configuration>